<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>A nagyi étterme</title>
    </head>
    <body>
        <h1>Welcome to home page of the project</h1>
        <h2>Coming soon..</h2>
    </body>
</html>