<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Menü</title>
    <link rel="icon" href="/img/icon.png" />
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="nav" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a href="/" id="home" class="navbar-brand">A nagyi étterme</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul id="navigation" class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/menu" class="nav-link">Menü</a>
                </li>
                <li class="nav-item">
                    <a href="/reserve" class="nav-link">Foglalás</a>
                </li>
                <li class="nav-item">
                    <a href="/reviews" class="nav-link">Vélemények</a>
                </li>
                <li class="nav-item">
                    <a href="/contact" class="nav-link">Kapcsolat</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="menu-container" class="container mt-5 pt-5">
    <h1 class="text-center mb-4">Menü</h1>
    <div class="row">
        <!-- Előételek -->
        <div class="col-md-6">
            <h3 class="mt-4">Előételek</h3>
            <ul class="list-unstyled">
                <li class="mb-3">
                    <h5>Bruschetta</h5>
                    <p>Pirított kenyér paradicsommal, bazsalikommal és olívaolajjal</p>
                </li>
                <li class="mb-3">
                    <h5>Caprese saláta</h5>
                    <p>Friss mozzarella, paradicsom és bazsalikom, balzsamecetes öntettel</p>
                </li>
            </ul>
        </div>

        <!-- Főételek -->
        <div class="col-md-6">
            <h3 class="mt-4">Főételek</h3>
            <ul class="list-unstyled">
                <li class="mb-3">
                    <h5>Marhapörkölt galuskával</h5>
                    <p>Hagyományos magyar étel friss galuskával</p>
                </li>
                <li class="mb-3">
                    <h5>Roston sült lazac</h5>
                    <p>Friss lazacfilé grillezve, citromos vajmártással és sült zöldségekkel</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="row mt-4">
        <!-- Desszertek -->
        <div class="col-md-6">
            <h3 class="mt-4">Desszertek</h3>
            <ul class="list-unstyled">
                <li class="mb-3">
                    <h5>Házi almás rétes</h5>
                    <p>Friss, házi készítésű rétes fahéjas almával töltve</p>
                </li>
                <li class="mb-3">
                    <h5>Csokoládé mousse</h5>
                    <p>Könnyű csokoládés desszert, friss eperrel díszítve</p>
                </li>
            </ul>
        </div>

        <!-- Italok -->
        <div class="col-md-6">
            <h3 class="mt-4">Italok</h3>
            <ul class="list-unstyled">
                <li class="mb-3">
                    <h5>Ház bora</h5>
                    <p>Választható fehér vagy vörös, helyi borászatból</p>
                </li>
                <li class="mb-3">
                    <h5>Frissen facsart narancslé</h5>
                    <p>100% friss, természetes narancslé</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
