<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Új jelszót kapott!</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <div class="container">
        <h1>Az új jelszó beállítása sikeres!</h1>
        <p><%= message %></p>
        <a href="/login">Jelentkezzen be most!</a>
    </div>
</body>
</html>
