<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Vélemények</title>
    <link rel="icon" href="/img/icon.png" />
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="nav" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a href="/" id="home" class="navbar-brand">A nagyi étterme</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul id="navigation" class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/menu" class="nav-link">Menü</a>
                </li>
                <li class="nav-item">
                    <a href="/reserve" class="nav-link">Foglalás</a>
                </li>
                <li class="nav-item">
                    <a href="/reviews" class="nav-link">Vélemények</a>
                </li>
                <li class="nav-item">
                    <a href="/contact" class="nav-link">Kapcsolat</a>
                </li>
                <li class="nav-item">
                    <a href="/login" class="nav-link">Bejelentkezés</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="reviews-container" class="container mt-5 pt-5">
    <h1 class="text-center">Vélemények</h1>
    <!-- Vélemények tartalma ide kerül -->
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
