<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fiokaktiv치l치s sikeres!</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <div class="container">
        <h1>Sikeres Aktiv치l치s</h1>
        <p><%= message %></p>
        <a href="/login">Jelentkezzen be most!</a>
    </div>
</body>
</html>
