/* Reset and Global Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Garamond, sans-serif;
}

body {
    background-color: floralwhite;
    position: relative;
}

/* Background Image */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/food.png') no-repeat center center;
    background-size: cover;
    opacity: 0.01;
    z-index: -1;
}

/* Navigation Bar */
#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 140px;
    border-bottom: 2px solid darkred;
    background-color: white;
    z-index: 1000;
}

/* Navigation Links */
#navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navigation a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 30px;
    transition: transform 0.3s ease;
}

#navigation a:hover {
    transform: translateY(-5px);
}

#home {
    margin-right: auto;
    font-weight: bold;
}

/* Content Container */
#reservation-container, #login-container {
    max-width: 800px;
    margin: 160px auto 0 auto; /* Adjust margin to ensure content starts below the nav bar */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Title */
#reservation-container h1, #login-container h1 {
    font-size: 48px;
    margin-bottom: 50px;
}

/* Form */
#reservation-container form, #login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-group label {
    font-size: 24px;
    margin-right: 15px;
    width: 150px;
    text-align: right;
}

#reservation-container input, #login-container input {
    width: 300px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

#reservation-container button, #login-container button {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 20px;
    font-size: 24px;
    color: black;
    background-color: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s ease;
}

#reservation-container button:hover, #login-container button:hover {
    background-color: #007BFF;
}

/* Table Styles */
table {
    width: 80%;
    margin: 70px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

caption {
    font-size: 1.5em;
    margin: 10px;
}

th, td {
    padding: 12px;
    text-align: center !important;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:hover {
    background-color: #f5f5f5;
}

/* Button Styles */
.delete-btn {
    margin: 0;
}

.register-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 24px;
    color: black;
    background-color: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #007BFF;
}

/* Error Message Style */
#error {
    text-align: center;
    color: red;
    font-size: 25px;
    margin-top: 10px;
    display: none;
    animation: shake 0.5s ease;
}

/* Error Message Animation */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.spin-image {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.action-button:hover .spin-image {
    transform: rotate(360deg);
}

.action-button .spin-image {
    transform: rotate(0deg);
}

 /* Csillagok */
 .star-rating {
    display: flex;
    justify-content: center;
    direction: rtl;
}

.star-rating input {
    display: none;
}
.star-rating label {
    font-size: 30px;
    color: #ddd;
    cursor: pointer;
    margin-left: 5px;
}
.star-rating input:checked ~ label {
    color: #f39c12;
}
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #f39c12;
}
.star-rating label:active {
    color: #f39c12;
}
#ratingValue {
    font-size: 16px;
    color: #333;
}

/* Új étel felvitele konténer */
#add-food-container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#add-food-container h2 {
    font-size: 28px;
    color: darkred;
    margin-bottom: 20px;
}

#add-food-container label {
    display: block;
    margin: 15px 0 5px;
    font-size: 18px;
    font-weight: bold;
}

#add-food-container input[type="text"],
#add-food-container select,
#add-food-container textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#add-food-container input[type="file"] {
    font-size: 14px;
    margin-top: 5px;
}

#add-food-container button,
#add-food-container input[type="reset"] {
    width: 100%;
    padding: 10px 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s ease;
}

#add-food-container button:hover,
#add-food-container input[type="reset"]:hover {
    background-color: darkred;
}

#add-food-container input[type="reset"] {
    background-color: lightgray;
    color: black;
    margin-bottom: 10px;
}

#add-food-container input[type="reset"]:hover {
    background-color: darkgray;
}


/* Mobile View */
@media (max-width: 768px) {
    /* Navigation Bar Adjustments for Mobile */
    #nav {
        padding: 10px 20px;
    }
    #navigation {
        flex-direction: column;
        align-items: flex-start;
    }
    #navigation a {
        padding: 10px 0;
        font-size: 24px;
    }
    /* Content Container Adjustments for Mobile */
    #reservation-container, #login-container {
        margin-top: 200px;
        padding: 0 20px;
    }
    .input-group {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .input-group label {
        width: 100%;
        text-align: left;
        margin-bottom: 5px;
    }
    #reservation-container input, #login-container input {
        width: 100%;
    }
    #reservation-container button, #login-container button, .register-button {
        width: 100%;
        font-size: 20px;
    }
    #reservation-container h1, #login-container h1 {
        font-size: 36px;
        margin-bottom: 30px;
    }

    #calendar {
        max-width: 800px;
        margin: 0 auto;
    }

    .fc-daygrid-event {
        font-size: 0.85em;
    }

}
